*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #f2f2f2;
}


.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: white;
    /* border-bottom: 6px solid black; */
    box-shadow: 4px 4px 4px 4pa rgba(red, green, blue, alpha);

}

.header{
    /* color: red;
    font-size: 24px; */
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}


.main{
    display: flex;
}

.side-bar-nav{
    width: 200px;
    background: purple;
}

.side-bar-nav ul{
    list-style: none;
}

.side-bar-nav li a{
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
    
}


.content-area{
    flex: 1;
    padding: 10px 10px 50px 30px;
    background: #f9f7f7;
}


.image-row{
    display: flex;
    justify-content: none;
    margin-bottom: 20px;
}

.image{
    width: 32%;
    background: white;
    border: 1px solid #ccc;
    text-align: center;
}

.image img{
    width: 100%;
    height: auto;
}


.para {
    margin-bottom: 15px;
    line-height: 1;
    
}


.footer{
    text-align: center;
    padding: 10px;
    background: #999;
    color: white;
    margin-top: 0px;
}
