*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,container{
    position: relative;
    width: 100vw;
    height:100vh;
    /* background-color: black; */
}


.box{
    position: absolute;
    width: 50%;
    height: 50%;
    
}
.red{
   
    background-color: red;
    top: 0;
    left: 0;

}
.green{
    
    background-color: green;
    top: 0;
    left: 50%;
}

.orange{
   
    background-color: orange;
    top: 50%;
    left: 0;
   
}

.pink{
   
    background-color: palevioletred;
    top: 50%;
    left: 50%;
   
}
/* white circle inside each circle */
.box::before{
   content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.box::after{
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    background: red;
   top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center-box{
    position: absolute;
    width: 200px;
    height: 200px;
    background: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.center-circle{
    position: absolute;
    width: 100px;
    height: 100px;
    background: red;
    border-radius: 50%;
     top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.half-circle_01{
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: white;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    top: 0;
    left: 50%;
    transform : translate(-50%, -50%)
}

.half-circle_02{
    position: absolute;
    width: 150px;
    height: 75px;
    background-color: white;
    border-top-left-radius:200px;
    border-top-right-radius: 200px;
    bottom: 0;
    left: 50%;
    transform: translate( -50%);

}
.quarter-circle-red{
    position: absolute;
    width: 100px;
    height: 100px;
    background: white;
    border-bottom-right-radius: 150px;
    left: 0;
    top: 0;
    /* transform: translate(-50%); */
}

.quarter-circle-green{
    position: absolute;
    width: 100px;
    height: 100px;
    background: white;
    border-bottom-left-radius: 150px;
    top: 0;
    right: 0;
}

.quarter-circle-orange{
    position: absolute;
    width: 100px;
    height: 100px;
    background: white;
    border-top-right-radius: 150px;
    bottom: 0;
    left: 0;
}

.quarter-circle-pink{
    position: absolute;
    width: 100px;
    height: 100px;
    background: white;
    border-top-left-radius: 150px;
    bottom: 0;
    right: 0;
}