body {
    margin: 0;
    height: 100%; 
}


.fixed-large-circle {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 350px;
    background-color: #b59585; 
    border-radius: 50%;
    z-index: 10;
}

.fixed-small-circle {
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    background-color: red;
    border-radius: 50%;
}

.content {
    position: relative;
    width: 100%;
    padding-top: 50vh;
}

.circle {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: 0 auto 500px auto; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

.purple { background-color: #8e3575; }
.blue { background-color: #2da0ba; }
.orange { background-color: #f0544c; }