body {
    margin: 0;
    height: 100%; 
}


.fixed-circle {
   position: fixed;
    background: transparent;
    width: 220px;
    height: 220px;
    border-radius: 50%;

    border: 25px solid rgb(77, 81, 80);
    outline: 15px solid rgb(120, 27, 27);
    outline-offset: -10px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 10;
}



.content {
    position: relative;
    min-height: 2197px;
}

.circle-purple {
    position: absolute;
    background:purple;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    display: flex;
    align-items: center;      
    justify-content: center; 
    text-align: center;
    font-weight: bold;
    font-size: 30px;
  
}

.circle-blue{

     position: absolute;
    background: blue;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    top: 150vh;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
     display: flex;
    align-items: center;      
    justify-content: center; 
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    
}

.circle-orange{
     position: absolute;
    background: orange;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    top: 250vh;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    display: flex;
    align-items: center;     
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}