*{
    margin: 0;
}

.section{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    height: 100vh;
}


.box{
    border: 1px solid black;
    padding: 40px;
}

.red{
    grid-column: 1/3;
    background-color: red;
}

.green{
    background-color: green;
}

.orange{
    grid-column: 4/5;
    grid-row: 1/4;
    background-color: rgb(193, 81, 2);

}
.purple{
    background-color: rgb(155, 4, 241);
}

.pink{
    background-color: rgb(169, 11, 140);
}

.blue{
    background-color: blue;
}

.brown{
    background-color: brown;
}
.indigo{
    grid-column: 2/4;
    background-color: indigo;
}
